<!-- templates/base.html -->
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to JAWS Site!</title>
        <link rel="stylesheet" type="text/css" href="{% static "/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Welcome to JAWS Site!</h1>
        </div>
    </body>
</html>
{% endblock content %}
<header>
    <a href="{% url 'trends' %}">Trends</a>
    <a href="{% url 'index' %}">Portfolio Optimization</a>
  </header>

